.root{
	-fx-background-color: #F1F1F1;
	-fx-font-family: "PT Sans";
}

.button{
	-fx-text-fill:#FFFFFF;
	-fx-border-width: 0px;
	-fx-background-color: #222222;
}

.button:disabled{
	-fx-opacity: 1;
}

#GameButtons{
	-fx-text-fill:#222222;
	-fx-border-width: 1px;
	-fx-border-color: #222222;
	-fx-background-color: #F1F1F1;
}

#multiplyNzero{
     -fx-border-width: 1px;
     -fx-border-color: #222222;
}

.button:hover{
	-fx-border-width: 0px;
	-fx-text-fill:#d0d5d9;
}

#topPane{
	-fx-background-color: #222222;
	-fx-border-width: 0px;
}

.panelLinks{
	-fx-background-color: #222222;
	-fx-text-fill: #FFFFFF;
	-fx-border-width: 0px;
	-fx-font-size: 16.0px;
	-fx-underline: false;
}

.panelLinks:hover{
	-fx-border-width: 0px;
	-fx-text-fill: #d0d5d9;
	-fx-underline: false;
}

.choice-box{
	-fx-background-color: #222222;
	-fx-border-width: 0px;
}

.choice-box .label{
	-fx-text-fill:#FFFFFF;
}

.choice-box .menu-item {
	-fx-background-color: #222222;
}

.text-field{
	
	-fx-border-width: 0px;
	-fx-background-color: #F1F1F1;
}

.text-field:focused{
	
}

#infoField{
	-fx-border-width: 0px;
	-fx-font-size: 10px;
}

.toggle-button{
	-fx-border-width: 0px;
	-fx-background-color: #222222;
	-fx-text-fill:#FFFFFF;
}

.toggle-button:hover{
	-fx-text-fill:#d0d5d9;
}

.toggle-button:selected{
	-fx-background-color: #F1F1F1;
	-fx-text-fill:#222222;
}

#calcDisplay{
	-fx-border-width: 0px;
	-fx-background-color: transparent;
}

.text-area{
	-fx-background-color: transparent;
}

.text-area .content{
	-fx-background-color: #F1F1F1;
	-fx-border-width: 0px;
}

.text-area:focused{
	-fx-border-width: 0px;
	-fx-background-color: #F1F1F1;
	
}

#overallTime{
	
	-fx-border-width: 0px;
	-fx-background-color: transparent;
}

.check-box{
	
}

.check-box *.box{
	
	-fx-background-color: #FFFFFF;
	-fx-border-color: #8b8b8b;
	-fx-border-width: 1px;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.list-view{
	-fx-border-width: 0px;
	-fx-background-color: #F1F1F1;
	
}

.list-cell:filled:hover{
	-fx-background-color: #222222;
	-fx-text-fill: #FFFFFF;
}

.list-cell:selected{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #222222;
}
